include head.jade
body
    include navigation.jade
    div(class='container-fluid')
        div(class='row')
            include article.jade
    
        h4 Contact Info: Phone Number: (647)801-3827 Email: matthew.francis@ryerson.ca
        include footer.jade