- var year = new Date().getFullYear()
footer 
    a(href='http://www.wikipedia.com')
        img(src='https://upload.wikimedia.org/wikipedia/foundation/thumb/2/20/Wikipedia-logo-v2-en_SVG.svg/350px-Wikipedia-logo-v2-en_SVG.svg.png', height='50',width='50')
    a(href='http://www.facebook.com')
        img(src='http://icons.iconarchive.com/icons/yootheme/social-bookmark/512/social-facebook-box-blue-icon.png', height='50',width='50')
    a(href='http://www.linkedin.com')
        img(src='https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/LinkedIn_logo_initials.png/768px-LinkedIn_logo_initials.png', height='50',width='50')
    p Page made by Mathew Francis for CPS630
        |email: 
        a(mailto = 'matthew.francis@ryerson.ca', title = 'matthew.francis@ryerson.ca') matthew.francis@ryerson.ca
        |  Copyright (c) Matthew Francis #{year} 
        