<div ng-repeat="x in todoList" ng-cloak>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-click="finished(x)">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="remove(x)">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
        <span id="todoText" ng-bind="x.task"></span>
        <span id="tododesc" ng-bind="x.description"></span>
        <br><br>
</div>